# Data
data/
outputs/cleaned_log.csv
outputs/event_log.xes
outputs/*.csv
outputs/*.xes

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# Environment
.env

# Plots are usually kept for the report, but maybe not 1000s of them.
# We'll keep the plots/ directory for now but exclude the huge raw data.
!outputs/plots/
!outputs/*.json
!outputs/*.md
!outputs/*.txt
!outputs/*.html
