פרוייקט מסכם – תהליך איוש משרה בעיריית חיפה

עיריית חיפה העמידה לרשותנו לוגים של מערכת המנהלת את תהליכי גיוס העובדים בעיריה, במטרה שננתח אותם ונזהה בעיות בתהליך הגורמות לעיכובים. כתוצאה מהניתוח אנו צריכים לגבש הצעות אופרטיביות שיאפשרו לייעל את התהליך.
תיאור התהליך
התהליך מתנהל דרך מערכת שתומכת בתהליך איוש תפקידים על פי בסיס חוקים, שלפיו נקבעים השלבים הבאים בכל תהליך גיוס. לקראת גיוס מעבירים בקשה דרך המערכת בתהליך בו צריכה הבקשה להיות מאושרת ומעובדת במספר תחנות.
בתחילת התהליך קיים תקן, שיכול להיות קיים או חדש (התקנים מנוהלים במערכת נפרדת עם תיאורי תפקיד, דרישות, דרגות + מאפיינים), ובקשה לאיוש נפתחת על תקן. המערכת מושכת את נתוני התקן והמחלקה המבקשת מכניסה את פרטי הבקשה / תפקיד. הבקשה עוברת לאישור מנהל מחלקה בה נמצא התקן, אחר כך לאישור מנהל האגף ואז לאישור ראש מנהל. המערכת יכולה לדלג שלב אם לא קיים מנהל רלוונטי.
השלב הבא הוא בקרה של מחלקת משאבי אנוש – הם בודקים מה מצב האיוש במחלקה האמורה + אינפורמציה נוספת שמוצאים לנכון. משם עוברת הבקשה להמלצת מנהל מחלקת גיוס לגבי אופן הגיוס – מכרז פנימי או חיצוני. בשלב הבא נדרש אישור מנהל משאבי אנוש ובהמשך מעבר לבדיקת אגף תקציבים ואישור גזבר. מכאן עוברת הבקשה למנכ"ל, שמחליט אם לאשר אותה ואיך לצאת לגיוס.
במקביל לתהליך האישורים נבדקים נתוני שכר ע"י מחלקת תנאי שירות, נושאי פרמיה רלוונטית ע"י מחלקת ארגון ושיטות, ובהמשך מתבצעת הדמיית שכר ע"י מחלקת שכר.
לאחר אישור המנכ"ל מנסחת מחלקת תקינה את תיאור התפקיד יחד עם מנהל האגף המבקש, ולאחר אישור וועד העובדים נדרשת מחלקת גיוס להעלות את המכרז. במקביל למיון וסיווג מועמדים, שמתבצע במערכת נפרדת, נקבע מועד לוועדה שמקבלת החלטות גיוס. החלטות אפשריות לוועדה: בחירת מועמד או החזרת התהליך אחורה (לאחד השלבים הקודמים – או שייעשו שינויים ויצאו למכרז חדש או שיבוטל התהליך).
עם סיום מוצלח של התהליך יגוייס המועמד שנבחר.
מידע נוסף שניתן ע"י אנשי העיריה:
זמן התהליך בדרך כלל – 2-3 חודשים.
יש מועדים / מרווחי זמן שקבועים בחוק, לדוגמא – כמה זמן צריך לתת למועמדים להגיש מועמדות.
בתפקידים זוטרים תפורסם מודעת דרושים ללא צורך במכרז.
השלב הארוך ביותר בדרך כלל הוא מיון וסינון מועמדים + קביעת מועד הוועדה.

תיאור הלוג:
הלוג מחולק לשני קבצים שביחד מכסים שנה שלמה. הוא כולל את השדות הבאים:


השאלות העסקיות:
איפה נגרמים עיכובים בתהליך? יש להצביע על שלבים, סוגי תפקידים, משתמשים ספציפיים, מחלקות מבקשות, תוצאת התהליך, או כל מאפיין שניתן לגלות
איזה ווריאנטים עיקריים יש בתהליך, ומה המהלכים בהם מתעכב התהליך? (מהלך פירושה סדרה של פעולות או שלבים)
האם ניתן לראות לגבי כל יחידה מה סך הבקשות הקיימות במערכת בכל נקודת זמן, והאם יש קשר בין מספר הבקשות ליחידה לבין זמני התהליך?
האם ניתן לראות שינויים שנעשו באחראי על שלבים מסויימים והאם יש קשר עם עיכובים בתהליך?
האם ניתן לאפיין "תהליך פנימי" לגבי שלבים מסויימים בתהליך וקשר בינו לבין עיכובים?
האם יש הצעות אופרטיביות שיכולות לצמצם את משך התהליך?

מבנה העבודה:
תקציר מנהלים: עד עמוד אחד, הכולל את מטרות העבודה, מימצאים עיקריים והצעות אופרטיביות.
מבוא: תיאור כללי של התהליך ומטרות העבודה, וכן מה כלול בה.
עיבוד מקדים: תיאור מפורט של פעולות העיבוד המקדים שנעשו. לכל פעולה יש לפרט את מטרתה, מה נעשה, ומה ההשפעה על הלוג. רצוי לכלול תרשימים להמחשה.
התהליך – נתיבים (ווריאנטים) עיקריים: הסבר בטקסט, אפיון מקרים (אם ניתן), מודלי תהליך
ניתוחים שבוצעו: בהתייחס לשאלות העסקיות. עבור כל ניתוח יש לפרט מה מטרתו, מה נעשה, ופירוט תוצאות (השתמשו בטבלאות, תרשימים, וצילומי מסך).
מסקנות והצעות אופרטיביות: חשוב שההצעות תהיינה קונקרטיות ככל האפשר ומבוססות על מימצאי הניתוח.
נספחים: קוד (ניתן להגיש כקובץ נפרד)


ב ה צ ל ח ה !!!